<nav class="nav-panel">
  <select name="displayMode" (change)="setDisplayMode($event)">
    <option value="sfdp" selected>SFDP layout</option>
    <option value="multilevel">Group by ip</option>
    <option value="circo">Circo layout</option>
    <option value="3d">3D</option>
  </select>
  <div *ngIf="displayMode === 'sfdp' || displayMode === 'multilevel'">
    <button *ngIf="displayMode === 'multilevel' && selectedNode" (click)="back()" class="button">Back</button>
    <button (click)="addNode()" class="button">Add node</button>
    <button (click)="saveGraph()" class="button">Save changes</button>
  </div>
</nav>
<div id="graph-container"></div>
