<nav class="nav-panel">
  <button (click)="drawGraph('sfdp')" class="button">Draw SFDP layout</button>
  <button (click)="drawLevelGraph('sfdp')" class="button">Draw SFDP layout by networks</button>
  <button (click)="saveGraph()" class="button">Save graph</button>
  <button (click)="clearSavedGraph()" class="button">Clear saved graph</button>
  <button (click)="drawGraph('circo')" class="button">Draw Circo layout</button>
  <button (click)="drawGraph('dot')" class="button">Draw Dot layout</button>
</nav>
<div id="graph2d-container"></div>
