<h1>Device</h1>
<div>
  <p class="row">
    <label>Name</label>
    <span>{{ data.name }}</span>
  </p>
  <p class="row">
    <label>Type</label>
    <span>{{ data.type }}</span>
  </p>
  <ng-container *ngIf="data.type !== 'router' && data.type !== 'network' && data.networks && data.networks[0]">
    <p class="row">
      <label>IP address</label>
      <span>{{ data.networks[0].ip }}</span>
    </p>
    <p class="row">
      <label>Mask</label>
      <span>{{ data.networks[0].mask }}</span>
    </p>
  </ng-container>
  <ng-container *ngIf="data.type === 'router'">
    Interfaces
    <div *ngFor="let interface_a of data.networks">
      <p class="row">
        <label>IP address</label>
        <span>{{ interface_a.ip }}</span>
      </p>
      <p class="row">
        <label>Mask</label>
        <span>{{ interface_a.mask }}</span>
      </p>
    </div>
  </ng-container>
</div>
<div>
  <button class="ok-button" mat-raised-button (click)="onNoClick()">Ok</button>
</div>

