<h1>Add device</h1>
<div>
  <div class="column">
    <div class="row">
      <label>Name
        <input [formControl]="name"/>
      </label>
    </div>
    <div class="row">
      <label>Type
        <select [formControl]="type">
          <option value="host" selected>Host</option>
          <option value="router">Router</option>
          <option value="switch">Switch</option>
          <option value="network">Network</option>
        </select>
      </label>
    </div>
    <div class="row">
      <label>IP
        <input [formControl]="ip"/>
      </label>
    </div>
    <div class="row">
      <label>Mask
        <input [formControl]="mask"/>
      </label>
    </div>
  </div>
  <div>
    <button (click)="saveData()">Save</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</div>
