<h1>New Device</h1>
<div class="row">
  <label>Name</label>
  <mat-form-field>
    <input matInput [formControl]="name"/>
  </mat-form-field>
</div>
<div class="row">
  <label>Type</label>
  <mat-form-field class="row">
    <mat-select [formControl]="type">
      <mat-option value="host">Host</mat-option>
      <mat-option value="router">Router</mat-option>
      <mat-option value="switch">Switch</mat-option>
      <mat-option value="network">Network</mat-option>
      <mat-option value="plc">PLC</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row">
  <label>IP</label>
  <mat-form-field>
    <input matInput [formControl]="ip"/>
  </mat-form-field>
</div>
<div class="row">
  <label>Mask</label>
  <mat-form-field>
    <input matInput [formControl]="mask"/>
  </mat-form-field>
</div>
<div class="row">
  <button class="ok-button button" mat-raised-button (click)="saveData()">Add</button>
  <button class="ok-button button" mat-raised-button (click)="close()">Cancel</button>
</div>
